/* 由 packages/ui-theme/scripts/build-fonts.mjs 生成，勿手改。
   扩展设置弹窗专用（spec §6.8、§7.6）：只含弹窗独立子集 serif-sc-popup（收字见 scripts/popup-text.txt），不进 fonts.css。
   字体 Noto Serif SC 以 SIL Open Font License 1.1 授权，扩展包内附 NotoSerifSC-OFL.txt；项目的 MIT 许可不覆盖字体文件。 */
@font-face {
  font-family: "PoE2 Serif SC";
  src: url("./serif-sc-popup.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+20-7E, U+4E2D, U+4F7F, U+524D, U+52A9, U+624B, U+6587, U+7528;
}
